

<div id="main-wrapper">

    <app-header></app-header>
    
    <app-sidebar></app-sidebar>
  
    <div class="page-wrapper">
    
      <div class="container-fluid">
  
        <!-- breadcrumbs -->
        <app-breadcrumbs></app-breadcrumbs>
  
        <!-- Desarrollo del sistema de rutas -->
  
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->

        <!-- Direccionado todas las rutas -->
        <router-outlet></router-outlet>
        <!-- por el router-outlet se tiene que importar el routerModule 
        en el modulo en el que esta contenido -->
        
        <!-- <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">         
                                              
                    </div>
                </div>
            </div>
        </div> -->
        

        <!-- ============================================================== -->
        <!-- End PAge Content -->
        <!-- ============================================================== -->
  
      </div>
  
      <app-footer></app-footer>
  
    </div>

</div>

<app-modal-imagen></app-modal-imagen>
  