<div class="row">
    <div class="col-6">

        <app-dona 
            [titulo]="titulo1"
            [doughnutChartData]="data1">
        </app-dona>

    </div>

    <div class="col-6">

        <app-dona 
            [titulo]="titulo2"
            [doughnutChartData]="data2">
        </app-dona>

    </div>
</div>

<div class="row">
    <div class="col-6">

        <app-dona 
            [titulo]="titulo3"
            [doughnutChartData]="data3">
        </app-dona>

    </div>

    <div class="col-6">

        <app-dona 
            [titulo]="titulo4"
            [doughnutChartData]="data4">
        </app-dona>

    </div>
</div>